.idea
*.class
*.log
logs
dist/
target/
node_modules/
temp/
.DS_Store
.idea_modules
.classpath
.project
.settings
RUNNING_PID
*.iml
.awcache/
yarn-error.log
npm-debug.log*
Thumbs.db
.vscode
.sbtrc


# Frontend
frontend/node_modules
frontend/yarn.lock

output.txt