.u-plate {
  background-color: white;
  box-shadow: 1px 3px 4px 0 rgba(206, 206, 231, 0.5);
  border: solid 1px #F0F0F8;
}

.u-highlight {
  font-weight: 600;
}

.u-loader,
.u-loader:after {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.u-loader {
  margin-top: 30px;
  margin-right: 100px;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 5px solid rgba(64,131,219, 0.2);
  border-right: 5px solid rgba(64,131,219, 0.2);
  border-bottom: 5px solid rgba(64,131,219, 0.2);
  border-left: 5px solid #4083db;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}