.simulation {
  max-width: 1024px;
  margin: 48px auto auto;

  @media (max-width: 1120px) {
    margin: 48px;
  }
}

.simulation__grid {
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: 688px 318px;
  grid-template-rows: auto;
  grid-template-areas:
          "map summary"
          "map events"
}

.simulation__map {
  padding: 20px;
  width: 631px;
  height: 500px;
  grid-area: map;
}

.simulation__summary {
  padding: 8px;
  height: 205px;
  width: 318px;
  grid-area: summary;
}

.simulation__events {
  padding: 8px;
  width: 318px;
  height: 288px;
  grid-area: events;
}

.simulation__datamap-container {
  height: 400px;
  width: 100%;
}

.simulation__title {
  font-size: 18px;
  font-weight: 600;
  color: #95A4B4;
  text-transform: uppercase;
}

.simulation__buttons {
  display: flex;
  justify-content: space-between;
}

.simulation__button {
  width: 230px;
  height: 40px;
  margin: 30px auto;
  font-size: 14px;
}

.simulation-pending-transactions__title {
  font-size: 16px;
  font-weight: 600;
  color: #95A4B4;
  text-transform: uppercase;
  flex: 1 0 0;
}

.simulation-pending-transactions {
  margin: 10px auto;
  padding: 20px;
  width: 982px;
  height: 264px;
  grid-area: simulation-pending-transactions;
}

.simulation-processed-transactions__title {
  font-size: 16px;
  font-weight: 600;
  color: #95A4B4;
  text-transform: uppercase;
  flex: 1 0 0;
}

.simulation-processed-transactions {
  margin: 10px auto;
  padding: 20px;
  width: 982px;
  height: 264px;
  grid-area: simulation-processed-transactions;
}