.strategy-plate {
  min-height: 500px;
  padding: 20px;
  margin-bottom: 25px;
}

.strategy-plate__title {
  font-size: 18px;
  font-weight: 600;
  color: #95A4B4;
  text-transform: uppercase;
}

.strategy-plate__content {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}